.container {
  display: grid;
  row-gap: 20px;
  justify-items: center;
}

section h1 {
  text-align: center;
}

.header h1 {
  margin-bottom: 0.2rem;
}

.header h1,
.header h2 {
  margin-top: 0.2rem;
  text-align: center;
  text-transform: capitalize;
}

.splash-section img {
  width: 100%;
}

.champion-lore {
  text-align: justify;
  /* margin: 0 auto; */
}

.champion-lore h1,
.champion-spells h1 {
  text-align: center;
}

.champion-spells {
  width: 100%;
}
.champion-tips {
  width: 100%;
}
.champion-skins {
  width: 100%;
}

@media screen and (min-width: 567px) {
  section,
  .splash-section {
    max-width: 90%;
  }
}

@media screen and (min-width: 767px) {
  section,
  .splash-section {
    max-width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  section,
  .splash-section {
    max-width: 1024px;
  }
}
