.header {
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 1005;
}
.menu-btn__burger {
  width: 30px;
  height: 4px;
  background: #000;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  z-index: 1005;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #000;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-9px);
}
.menu-btn__burger::after {
  transform: translateY(9px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
  z-index: 1005;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  top: unset;
  z-index: 1005;
  background: #fff;
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  top: unset;
  z-index: 1005;
  background: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 85vh;
  max-height: 567px;
  transition: width 0.3s ease;
  width: 0;
  left: calc(100% - 100vw + 2rem);
  z-index: 1000;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8); /* Puoi personalizzare questo colore */
}
.navbar.open {
  width: 100vw;
}

.list {
  display: flex;
  gap: 2rem;
  list-style: none;
  flex-direction: column; /* Stack verticalmente su mobile */
  gap: 1rem;
  color: #fff;
  width: 100%;
  padding-left: 0;
  align-items: center;
  height: 60%;
}

.list li {
  display: flex;
  align-items: center;
}

.list a {
  text-decoration: none;
  color: #fff;
}

.list a:hover {
  color: var(--color-button-hover);
  text-decoration: underline;
}

.list a.active {
  color: red;
  text-decoration: underline;
}

/* Responsive styles */

@media screen and (min-width: 967px) {
  .header {
    max-width: 60%;
    margin: 0 auto;
  }
  .menu-btn {
    display: none !important;
  }
  .navbar {
    display: flex;
    width: unset;
    height: unset;
    left: unset;
    position: unset;
    background: unset;
  }
  .list {
    flex-direction: row;
    height: unset;
  }
  .list a {
    text-decoration: none;
    color: #070200;
  }
}
