.search-container {
  position: relative;
  width: 250px;
}

.search-input {
  width: 100%;
  padding: 10px 20px 10px 40px;
  border-radius: 25px;
  border: 1px solid #d3d3d3;
  outline: none;
  position: relative;
  z-index: 100;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  color: #333333;

  &::placeholder {
    color: #5a5a5a;
  }
}

.search-input.suggestions-visible {
  border-bottom: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 0;
  color: #777;
  pointer-events: none;
  height: 100%;
  z-index: 101;
}

.suggestions {
  position: absolute;
  width: 100%;
  padding: 30px 60px 10px 0px;
  border-radius: 25px;
  border: 1px solid #d3d3d3;
  outline: none;
  top: 0;
  z-index: 1;
  background-color: #f0f0f0;
  display: none;
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.suggestionsList {
  overflow-y: auto;
  max-height: 200px;
  list-style: none;
  padding-inline-start: 30px;
}

.suggestionsList li {
  padding: 10px 20px;
  border-top: 1px solid #e0e0e0;
  cursor: pointer;
}

.suggestionsList li:hover {
  background-color: #e5e5e5;
}

.suggestionsList::-webkit-scrollbar {
  display: none; /* for Chrome, Safari and Opera */
}

.suggestionsList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.suggestion {
  height: fit-content;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.suggestion img {
  width: 40px;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .search-container {
    width: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .search-container {
    width: 350px;
  }
}

@media screen and (min-width: 1440px) {
  .search-container {
    width: 400px;
  }
}

@media screen and (min-width: 1920px) {
  .search-container {
    width: 450px;
  }
}

@media screen and (min-width: 2500px) {
  .search-container {
    width: 500px;
  }
}
