.tag {
  display: inline-block;
  padding: 2px 6px; /* Reduced padding */
  margin: 1px 3px; /* Reduced margin */
  border-radius: 15px; /* Increased border-radius for a pill-like appearance */
  font-weight: 500;
  font-size: 0.8rem; /* Reduced font size */
  border: 1px solid transparent; /* Added for tag types that might use border */
  color: #666; /* Dark gray text */
  cursor: pointer;
}

.tag.Mage {
  border: 1px solid #7e57c2; /* Purple border */
  background-color: #f3e5f5; /* Light purple background */
}

.tag.Tank {
  border: 1px solid #4caf50; /* Green border */
  background-color: #e8f5e9; /* Light green background */
}

.tag.Fighter {
  border: 1px solid #ff5722; /* Deep orange border */
  background-color: #fbe9e7; /* Light orange background */
}

.tag.Assassin {
  border: 1px solid #d50000; /* Red border */
  background-color: #ffdde1; /* Light red background */
}

.tag.Marksman {
  border: 1px solid #039be5; /* Blue border */
  background-color: #e1f5fe; /* Light blue background */
}

.tag.Support {
  border: 1px solid #00bfa5; /* Teal border */
  background-color: #e0f2f1; /* Light teal background */
}

.tag.active {
  /* Example: Changing the font weight and adding a border for active tags */
  font-weight: bold;
  border: 1px solid #333;
}

.Mage.active {
  background-color: #7f00ff; /* example purple shade for mage */
  color: white;
}

.Tank.active {
  background-color: #004d40; /* example deep teal for tank */
  color: white;
}

.Fighter.active {
  background-color: #b71c1c; /* example deep red for fighter */
  color: white;
}

.Marksman.active {
  background-color: #ff6d00; /* example bright orange for marksman */
  color: white;
}

.Assassin.active {
  background-color: #000000; /* example black for assassin */
  color: white;
}

.Support.active {
  background-color: #1b5e20; /* example deep green for support */
  color: white;
}
